<!DOCTYPE html>
<html>

<head>
  <title>Recipes</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class = "container">
    <h1>Delicious New Recipes</h1>
  {{{ body }}}
  </div>
  
</body>

</html>